.imgLoading{
    margin-top: 150px;
    display:block; /*centro la imagen  */
    margin-left: auto; /*centro la imagen  */
    margin-right: auto; /*centro la imagen  */
    cursor: progress; /*muestra la flechita del mouese que esta cargando  */
    height: 40vh ;
}

@media screen and (max-width: 500px) {
    .imgLoading{
        width: 300px ;
        height: 30vh ;
    }
}

@media screen and (max-width: 400px) {
    .imgLoading{
        width: 300px;
        height: 30vh;
    }
}