<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="https://argentinaprograma.inti.gob.ar/pluginfile.php/1/theme_moove/logo/1659143423/APLogo-20-20.png" style="width: 100px ; margin-top: -10px;" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" style="margin-top: -10px ;" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            MENU
          </a>
          <ul class="dropdown-menu dropdown-menu-dark">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
      </ul>
      <br>
    </div>
  </div>
  <!-- ejemplo de como queda las redes sociales -->
  <img src="https://cdn-icons-png.flaticon.com/512/174/174857.png" style="width: 34px; margin-right: 10px; margin-left: 10px; " alt="">
  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Facebook_Logo_%282019%29.png/800px-Facebook_Logo_%282019%29.png"  style="width: 40px; margin-right: 10px; margin-left: 10px; border-radius: 5px; "alt="">
  <img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png"  style="width: 40px; margin-right: 11px; margin-left: 10px; border-radius: 5px; " alt="">
</nav>

<router-outlet></router-outlet>
