<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
    </div>
</div> -->
<div class="logos">
    <a href="https://www.linkedin.com/in/edgardo-gaston-gonzalez/">
        <img src="https://cdn-icons-png.flaticon.com/512/174/174857.png" class="logoLinkedin" alt="inkedin" >
    </a>
    <a href="https://es-la.facebook.com/gonzalezbadedo">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Facebook_Logo_%282019%29.png/800px-Facebook_Logo_%282019%29.png" class="logoFacebook" alt="Facebook">
    </a>
    <a href="https://github.com/edgardo90">
        <img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png"  class="logoGit" alt="Git">
    </a>
</div>
<!-- </nav> -->
