.logoLinkedin{
   margin-right: 35px;
   width: 40px;
   margin-left: 120px;
}

.logoFacebook{
    margin-right: 25px;
    width: 40px;
    border-radius: 20px;
}

.logoGit{
    margin-right: 20px;
    width: 40px;
    border-radius: 20px;
}