.imgBanner{
    width: 1200px;
    height: 590px;
    display:block; /*centro la imagen  */
    margin-left: auto; /*centro la imagen  */
    margin-right: auto; /*centro la imagen  */
    margin-top: 75px;
}

.div{
    background-color: rgba(138, 197, 197, 0.897);
}


.lapizCss{
    width: 30px;
    height: 30px;
    border-radius: 7px;
    background-color: rgba(175, 198, 241, 0.838);
}
.lapizCss:hover{
    background-color:rgba(77, 94, 191, 0.649) ;
}

.cssButton1{
    position: absolute; 
    right: 0;
    margin-top: -30px;
    margin-right: 40px;
    border: none;
    border-radius: 9px;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
}
.cssButton1:active{
    transform: scale(0.8);
}


.cssButton2{
    position: absolute; 
    right: 0;
    /* margin-left: 10px; */
    margin-top: -31px;
    /* margin-right: 40px; */
    border: none;
    color: white;
    cursor: pointer;
  background: none;
  background-color: rgba(234, 91, 91, 0.944);
  border-radius: 9999px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
}
.cssButton2:active { /* cuando se toque va hacer una animacion de click  */
    transform: scale(0.8); 
}
.cssButton2:hover{
    background-color: red;
    color: white;
    /* padding-left: 12px; */
  /* padding-right: 12px; */
  /* padding-top: 6px; */
  /* padding-bottom: 6px; */
  /* font-size: 18px; */
}




@media screen and (max-width: 1400px) {
    .imgBanner {
        width: 950px;
        height: auto;
    }
}

@media screen and (max-width: 1000px) {
    .imgBanner{
        width:650px ;
    }
}

@media screen and (max-width: 700px) {
    .imgBanner{
        width:500px ;
    }
}

@media screen and (max-width: 500px) {
    .imgBanner{
        width:400px ;
    }
}

@media screen and (max-width: 400px) {
    .imgBanner{
        width:300px
    }
}