

.imagenPersona{
    width: 300px;
    height: 300px;
    border-radius: 9999px;
    margin-left: 30px;
    margin-top: -150px;
}

.divPersona{
    margin-left: 50px;
}

.divButton1{
    margin-left: 330px;
    margin-bottom: -35px;
}

.lapizCss{
    width: 30px;
    height: 30px;
    border-radius: 7px;
    background-color: rgba(175, 198, 241, 0.838);
}
.lapizCss:hover{
    background-color:rgba(77, 94, 191, 0.649) ;
}

.cssButton1{
    border: none;
    border-radius: 9px;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}
.cssButton1:active{
    transform: scale(0.8);
}


.cssButton2{
    position: absolute; 
    margin-left: 10px;
    /* margin-top: -50px; */
    border: none;
    color: white;
    cursor: pointer;
  background: none;
  background-color: rgba(234, 91, 91, 0.944);
  border-radius: 9999px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
}
.cssButton2:active { /* cuando se toque va hacer una animacion de click  */
    transform: scale(0.8); 
}
.cssButton2:hover{
    background-color: red;
    color: white;
    /* padding-left: 12px; */
  /* padding-right: 12px; */
  /* padding-top: 6px; */
  /* padding-bottom: 6px; */
  /* font-size: 18px; */
}



@media screen and (max-width: 1400px) {
    .imgBanner {
        width: 800px;
    }
}

@media screen and (max-width: 1000px) {
    .imagenPersona{
        /* margin-left: 350px; */
        margin-top: -100px;
        width: 200px;
        height: 200px;
    }
}

@media screen and (max-width: 700px) {
    .imagenPersona{
        /* width:200px ; */
        margin-top: -70px;
        margin-left: 50px;
        width: 150px;
        height: 150px;
    }
}

@media screen and (max-width: 500px) {
    .imagenPersona{
        /* width:400px ; */
        margin-top: -40px;
        width: 150px;
        height: 150px;
    }
    .divPersona{
        margin-left: 20px;
    }
    .divButton1{
        margin-left: 290px;
        margin-bottom: -35px;
    }
}

@media screen and (max-width: 400px) {
    .imagenPersona{
        width: 150px;
        height: 150px;
    }
    .divPersona{
        margin-left: 20px;
    }
    .divButton1{
        margin-left: 290px;
        margin-bottom: -35px;
    }
}