<div style="margin-top: 70px;">
    <h1 style="margin-left: 40px;">Experiencia</h1>
    <br>
    <div  *ngFor="let ex of exper" class="container">
        <img src={{ex.logoCompany}} alt="logoEmpresa" class="logoImagen">
        <h2 style="margin-left: 105px;">{{ex.title}}</h2>
        <h3 style="margin-left: 105px; font-size: 20px;">{{ex.companyName}},    {{ex.dateStart}} - {{ex.dateEnd}} .</h3>

        <div style="margin-top: 50px ; margin-left: -20px;" >
            <a href="">
                <button class="cssButton1" *ngIf="activate"  ><img class="lapizCss" src="https://cdn-icons-png.flaticon.com/512/84/84383.png" alt="lapiz"></button>
            </a>
            <button class="cssButton2" type="button" *ngIf="activate" (click)="deletedExperience(ex)" >X</button>
        </div>
        <br>

        <p style="margin-left: 105px; margin-top: -50px;" >{{ex.description}}</p>
    </div>
</div>
