.imgLoading{
    margin-top: 198px;
    display:block; /*centro la imagen  */
    margin-left: auto; /*centro la imagen  */
    margin-right: auto; /*centro la imagen  */
    cursor: progress; /*muestra la flechita del mouese que esta cargando  */
    /* height: 40vh ; */
    width: 400px;
    height: 296px;
    border-radius: 20px;
}


ngb-carousel {
    max-width: 600px;
    /* max-width: 70%; */
    max-height: 520px;
    /* margin: 50px auto; */
    position: absolute;
    margin-top: -650px;
}
ngb-carousel img {
    width: 100%;
    outline: none;
    border-radius: 20px ;
}
ngb-carousel {
    width: inherit;
    height: inherit;
}


.carousel-indicators{
    margin-bottom: 0px;
    z-index: 20;
    background-color: rgba(63, 113, 149, 0.389);
    border-radius: 10px;
}
.carousel-indicators:hover{
    background-color: rgba(63, 113, 149, 0.818);
    transition:  0.5s; /*hace que se muestre un poco mas tarde  */
}
.carousel-control-next-icon{
    background-color: rgb(13, 98, 244);
}
.carousel-control-prev-icon {
    background-color: rgb(13, 98, 244);
}

.form{
    position: absolute;
    margin-top: 150px;
    margin-left: 65%;
    
}

@media screen and (max-width: 1100px) {
    .form{
        /* position:absolute; */
        /* position: relative; */
        margin-left: 10%;
        margin-top: 670px;
    }
}

@media screen and (max-width: 500px) {
    .form{
        /* position:absolute; */
        /* position: relative; */
        margin-left: 5%;
        margin-top: 600px;
    }
}