.imgLoading{
    margin-top: 198px;
    display:block; /*centro la imagen  */
    margin-left: auto; /*centro la imagen  */
    margin-right: auto; /*centro la imagen  */
    cursor: progress; /*muestra la flechita del mouese que esta cargando  */
    /* height: 40vh ; */
    width: 400px;
    height: 296px;
    border-radius: 20px;
  }
  
  .cssButton2{
      /* margin-top: -50px; */
    border: none;
    color: white;
    cursor: pointer;
    background: none;
    background-color: rgba(240, 72, 72, 0.944);
    border-radius: 9999px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
  }
  .cssButton2:active { /* cuando se toque va hacer una animacion de click  */
      transform: scale(0.8); 
  }
  .cssButton2:hover{
      background-color: red;
      color: white;
    /* padding-left: 12px; */
    /* padding-right: 12px; */
    /* padding-top: 6px; */
    /* padding-bottom: 6px; */
    /* font-size: 18px; */
  }